body {
    color: chartreuse;
    background-color: black;
    overflow-x: hidden;
}
#topMenu {
    height: 60px;
    outline-color: chartreuse;
    outline-width: 5px;
    outline-style: solid;
}
#topLinks {
    float: right;
    padding-top: 20px;
}
#topLinks ul, footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#topLinks li {
    float: left;
}
#topLinks li a {
    color: chartreuse;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    transition: all 250ms ease-out;
}
#topLinks li a:hover {
    color: darkgreen;
    transition: all 250ms ease-out;
}
#topMenu .logo {
    float:left;
    padding-top: 13px;
    font-size: 24px;
    color: #333;
    text-decoration: none;
}
#topMenu.logo:hover {
    color: #4392f1;
}
#line {
  position: relative;
  padding: 0 20px; /* add padding to position the hr element 20 pixels from the left edge of the container */
}
#my-element {
  height: 5px;  /*adjust the height of the <hr> element as desired */
  background-color: rgba(0, 255, 13, 0.541); /* change the color to your desired color */
  border: none; /* remove any default border */
  width: calc(100% - 40px);
}
  