body {
    color: chartreuse;
    background-color: black;
}

#my-element {
  height: 5px;  /*adjust the height of the <hr> element as desired */
  background-color: rgba(0, 255, 13, 0.541); /* change the color to your desired color */
  border: none; /* remove any default border */
}
  